/* Global */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
  background-image: url("../imgs/arnold-banner.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 935px;
  background-position-y: -100px;
  font-family: arial, helvetica;
}

.container {
  width: 100%;
}

/* index page */
.index-container {
  width: 20%;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
}

.index-container > h1 {
  font-size: 42px;
  position: relative;
  top: 230px;
  left: 720px;

}

.index-container > h1 > a {
  color: white;
  text-decoration: none;
}

/* Header */
header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
header > h1 {
  color: white;
  font-size: 42px;
  margin-left: 40px;
}

.container > header > nav > ul {
  list-style-type: none;
  display: flex;
}

.container > header > nav > ul> li {
  display: flex;
  width: 150px;
  justify-content: space-around;
}

.container > header > nav > ul> li > a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.current {
  border-bottom: 2px solid white;
}

/* Movies.html */

/* Images */
.image-container {
  width: 80%;
  margin: auto;
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: row wrap;
}

.test {
  flex-grow: 1;
  width: 150px;
  margin: 40px;
}

.image-container > .test > img {
  width: 100%;
  height: auto;
}

/* glow */
.glow {
  opacity: 0.7;
  position: relative;
  top: 785px;
  left: 712px;
  width: 1px;
   height: 1px;
   border-radius: 50%;
   background-color: black;
   box-shadow:
     0 0 40px 9px orange,
     0 0 50px 25px red,
     0 0 30px 15px yellow;
}

@media screen and (min-width: 700px) and (max-width: 1015px) {
  header {
    display: flex;
    justify-content: center;
  }

  header > h1 {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .container > header > nav > ul> li > a {
    display: none;
  }

  header {
    margin-top: 50px;
    justify-content: none;
    display: inline-block;
    margin-left: none;
    width: 100%;
  }

  header > h1{
    width: 60%;
    margin: auto;
  }
}

@media screen and (max-width: 614px) {
  header > h1 {
    font-size: 42px;
  }
}
